html {
  font-family: sans-serif;
  font-size: calc(6px + 1vmin);
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

main {
  display: flex;
}

main > nav {
    flex: 1;
    margin: 21px;

    font-size: 0;
  }

main > nav a {
      display: block;
    }

main > nav ul~a, main > nav ul~em>a {
      margin-left: 50px;
    }

main > nav a, main > nav h1, main > nav option, main > nav li, main > nav span {
      font-size: initial;
    }

main > section {
    height: 100vh;
    overflow: auto;
    width: 80%;
    padding: 21px;
  }

main > section pre {
      background: #fafafa;
      padding: 5px;
    }

main > section > div {
      max-width: 1200px;
    }